.idea/
.vscode/
.vs/

/Binaries/
/Plugins/*/Binaries/
/Build/
/DerivedDataCache/
/Intermediate/
/Plugins/*/Intermediate/
/Saved/

/Config/Windows/WindowsEngine.ini
/Content/

*.sln
/.vsconfig
/MutateArena.uproject.DotSettings.user
