.idea/
.vscode/
.vs/

/Binaries/
/Plugins/*/Binaries/
/Build/
/DerivedDataCache/
/Intermediate/
/Plugins/*/Intermediate/
/Saved/

/Content/

*.sln

/.vsconfig
/BiochemicalArena.uproject.DotSettings.user
